button{
    margin-right: 8px;
}

/* Subscribe Button */
#sub{
    color: white;
    background-color: rgb(200, 0, 0);
    border:none;
    padding: 10px 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.15s;
}

#sub:hover{
    opacity: 0.75;
}
/* Clicked */
#sub:focus{
    background-color: rgb(78, 72, 72);
    color: black;
}


/* Join Button */
#join{
    background-color: white;
    color: blueviolet;
    padding: 10px 15px 10px 15px;
    border-radius: 2px;
    border-color: blueviolet;
    border-width: thin;
    cursor: pointer;
    transition: background-color 0.15s,
        color 0.15s;
}
#join:hover{
    background-color: rgb(63, 72, 156);
    color: white;
}

#join:focus{
    background-color: gray;
    outline-color: blue;
}


/* Tweet Button */
#tweet{
    color: white;
    background-color: #1DA1F2;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.15s, box-shadow 0.15s,
    box-shadow 0.15s;
}
#tweet:hover{
    background-color: #176da3;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
}

#save{
    background-color: white;
    color: #176da3;
    font-weight: bold;
    padding: 10px 20px;
    /* width: 80px; */
    border-radius: 29px;
    border-width: 1px;
    border-color: #176da3;
}

#save:hover{
    border-width: 2px;
    background-color: gray;
}